{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<style>
    .aboutus{
        width:100%;
        height:500px;
    }
    .title_whowe{
        text-transform:capitalize;
        text-align:center;
        font-size:30px;
        font-weight: bold;
        padding:50px;
        color:white;
    }
    .whoweare{
        background-color:black;
    }
    .info_whowe{
        color:white;
        font-size:20px;
        padding:20px;
    }
    .imag{
        width:500px;
        height:500px;
    }
        .service_title{
            color:#3119b5;
            font-size:40px;
            padding-top:40px;
            padding-bottom:20px;
        }
    .maintance{
        padding:80px;
    }
    .info_sericeve{
        font-size:17px;
        padding:20px;
    }
    .service_title{
        text-transform:capitalize;
    }
</style>


<section class="about_Us">
    <div>
        <img src="{% static 'images/Video-Surveillance-Service.png' %}" class="aboutus">
    </div>
</section>

<section class="whoweare">
    <div class="container ">
        <div class="title_whowe">Enterprise Video Surveillance Solutions</div>
    </div>

    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-2 col-sm-1 info_whowe">

                IP Video Surveillance System acts as an instant deterrent to potential intruders and provides
                valuable insight and documentation for businesses. Bion specializes in IP technology and provides
                Cameras for the most demanding surveillance environments. Whether protecting one facility or multi
                locations, we offer complete service
                in the design, installation, maintenance, and support of both newly installed and existing
                IP Video Surveillance / CCTV System.
                <br><br>
<!--                    <ul>-->
<!--                           <li> Integration with legacy systems</li>-->
<!--                           <li> Protection against increasing vulnerabilities</li>-->
<!--                           <li> User convenience and throughput at entrances</li>-->
<!--                           <li> Making physical access processes simpler with digital administration</li>-->
<!--                    </ul>-->

            </div>
<!--             <div class="col-lg-5 col-md-2 col-sm-1">-->
<!--                <img src="{% static 'images/service_maintance.jpeg' %}" class="imag">-->
<!--            </div>-->
        </div>
    </div>
    <br>
    <br>

</section>

<section class="maintance">

    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve">
<!--                <div class="service_title" data-aos="fade-up">Enterprise Access Control Systems</div>-->
<br>
<br>
                <ul>
                   <li>We offer End to End Video Surveillance Solution.</li>
                   <li> Our complete, high-definition surveillance solutions can help protect
                       critical assets and ensure public safety by delivering exceptional image detail
                       and powerful system control.</li>
                   <li> Decreased false alarms.</li>
                   <li> The System is monitored round the clock and storing data for investigation purposes. Quick and easy review
                       footage of an event and zoom in to analyze detailed regions of interest to improve the quality and
                       speed of investigations.</li>
                   <li> Fewer cameras to achieve greater coverage, reducing installation,
                       maintenance, and replacement costs.</li>
                         <li> Reduced investigation time due to powerful search tools.</li>
                   <li>Cyber secure.</li>

                </ul>
            </div>
             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-left">
                <img src="{% static 'images/cctv_AMC.jpg' %}" class="imag">
             </div>
        </div>

        <br><br>
        <div class="row">

             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-right">
                <img src="{% static 'images/people_counting.png' %}" class="imag">
             </div>
            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve" style="margin-left:80px;">
                <div class="service_title" data-aos="fade-up">Video Analytics</div>
             Video Analytics provide real time monitoring & trigger alerts for specific events.
                Video Analytics software are used to analyze video feed & alert security personnel.
                Motion Detection-able to pick even slightest movement Pattern Detection-Objects are distinguished within a
                frame. Allows to implement Internet of Things (IOT), thus improving efficiency picking the smallest
                of details.
<br><br>
                <ul>
                   <li> People Counting</li>
                   <li> Crowd Detection & Monitoring</li>
                   <li> Perimeter Intrusion</li>
                   <li> Tripwire</li>
                   <li> Object detection</li>
                    <li> Appearance Based Search Analytics</li>
                   <li> Items Left Behind</li>
                   <li> Objects Abandoned or Removed or % removed</li>

                </ul>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve">
                <div class="service_title" data-aos="fade-up">Facial Recognition Cameras</div>
             Facial Matching solution provides notification of arriving persons of interest. Designed to
                provide actionable intelligence, facial matches can be monitored in live video overlays or
                delivered in notifications.<br><br>

                <ul>
                   <li> Multi Face Tracking.</li>
                   <li> Reduce Need of Credentials.</li>
                   <li> No delay</li>
                   <li> No Bottle necks</li>


                </ul>
            </div>
             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-left">
                <img src="{% static 'images/faical.png' %}" class="imag">
             </div>
        </div>
        <br><br>

        <div class="row">

             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-right">
                <img src="{% static 'images/video_storage.jpg' %}" class="imag">
             </div>
            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve" style="margin-left:80px;">
                <div class="service_title" data-aos="fade-up">Video Storage Solutions</div>
                    Video Surveillance Systems (VSS) are implemented for public safety, theft protection,
                defect detection in manufacturing, and many other areas in our daily lives. All that video
                needs to be stored, backed up, and reviewed. In the case of video surveillance storage,
                traditional IT solutions can fall short. Solutions to Storage Problems Need to Be Scalable.
                            <br><br>
<!--                <ul>-->
<!--                   <li> SOPS - Structured operating procedure, ensures standard way of addressing issues.</li>-->
<!--                   <li> Each support ticket is monitored for FTR% and TAT%.</li>-->
<!--                   <li> Periodic skill matrix assessment helps to identify gaps.</li>-->
<!--                   <li> Standard checklists, Visit reports ensure systematic resolution to support tickets.</li>-->


<!--                </ul>-->
            </div>
        </div>
        <br><br>

<!--         <div class="row">-->
<!--            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve">-->
<!--                <div class="service_title" data-aos="fade-up">Biometric Technology</div>-->
<!--                Face recognition is being used for touchless access control, replacing-->
<!--                fingerprint access. A facial recognition access system provides the following:-->
<!--<br>-->
<!--<br>-->
<!--                <ul>-->
<!--                   <li>Multi Face Tracking</li>-->
<!--                   <li> Reduce need of Credentials.</li>-->
<!--                   <li> Embedded Anti Spoofing.</li>-->
<!--                   <li> GDPR Compliant.</li>-->
<!--                   <li> 2D and 3D checks for face recognitiony.</li>-->

<!--                </ul>-->
<!--            </div>-->
<!--             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-left">-->
<!--                <img src="{% static 'images/Biometric-Technologies.jpg' %}" class="imag">-->
<!--             </div>-->
<!--        </div>-->

<!--        <br><br>-->
<!--        <div class="row">-->

<!--             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-right">-->
<!--                <img src="{% static 'images/timebaesd.jpg' %}" class="imag">-->
<!--             </div>-->
<!--            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve" style="margin-left:80px;">-->
<!--                <div class="service_title" data-aos="fade-up">Time And Attendance Monitoring</div>-->
<!--             Keeping a track of employee's attendance is vital to the efficiency of the business. Time-->
<!--                & Attendance software efficiently sets the time management discipline, report and record-->
<!--                keeping for enterprises.-->
<!--            <br>-->

<!--            Reports that can be generated with T & A Management Software are:-->
<!--<br><br>-->
<!--                <ul>-->
<!--                   <li> Attendance details</li>-->
<!--                   <li> Man hours / overtime</li>-->
<!--                   <li> Overtime summary</li>-->
<!--                   <li> Attendance muster</li>-->
<!--                   <li> Out duty details</li>-->
<!--                    <li> Attendance regularization report</li>-->

<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br><br>-->

<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve">-->
<!--                <div class="service_title" data-aos="fade-up">Integration With HRMS Systems</div>-->
<!--&lt;!&ndash;             Managed from a central location with zero down time and the system can scale with the needs of the&ndash;&gt;-->
<!--&lt;!&ndash;                organization.<br><br>&ndash;&gt;-->

<!--                <ul>-->
<!--                   <li> Bion provides integration with a HRMS system by using API, .CSV / .XLS or at DB Level.</li>-->
<!--                   <li> Importing Employee details Name, ID, etc, fields sync from HRMS to Software.</li>-->
<!--                   <li> Activation & Deactivation of employees sync is maintained.</li>-->
<!--                   <li> Consolidated attendance summary attendance, leave & tour details is available-->
<!--                       to employees on one dashboard.</li>-->
<!--                    <li> Final attendance summary is sent to ERP / HRMS systems for payroll processing.</li>-->


<!--                </ul>-->
<!--            </div>-->
<!--             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-left">-->
<!--                <img src="{% static 'images/aaa.jpeg' %}" class="imag">-->
<!--             </div>-->
<!--        </div>-->
<!--        <br><br>-->

<!--        <div class="row">-->

<!--             <div class="col-lg-5 col-md-2 col-sm-1" data-aos="fade-right">-->
<!--                <img src="{% static 'images/digital-transformaton.jpg' %}" class="imag">-->
<!--             </div>-->
<!--            <div class="col-lg-6 col-md-2 col-sm-1 info_sericeve" style="margin-left:80px;">-->
<!--                <div class="service_title" data-aos="fade-up">Failover Or Redundancy Access Control Servers</div>-->
<!--                    Effective security and access control systems require uninterrupted operation. When physical-->
<!--                access control systems stop working, the entire operation is at risk. High availability solutions-->
<!--                are necessary to ensure these essential systems remain operational and provide uninterrupted coverage.-->
<!--                Bion offers high availability solutions that maintain high availability of physical access control-->
<!--                systems with a comprehensive redundancy or fail over access control servers.-->
<!--                            <br><br>-->
<!--&lt;!&ndash;                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                   <li> SOPS - Structured operating procedure, ensures standard way of addressing issues.</li>&ndash;&gt;-->
<!--&lt;!&ndash;                   <li> Each support ticket is monitored for FTR% and TAT%.</li>&ndash;&gt;-->
<!--&lt;!&ndash;                   <li> Periodic skill matrix assessment helps to identify gaps.</li>&ndash;&gt;-->
<!--&lt;!&ndash;                   <li> Standard checklists, Visit reports ensure systematic resolution to support tickets.</li>&ndash;&gt;-->


<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <br><br>-->



    </div>
    <br>
    <br>

</section>

<!--our aos-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
    {
        offset:300,
        duration:1500,
    }
    );
  </script>



{% endblock maincontent %}